<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <span class="navbar-brand pull-left">Widget Edit</span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href="javascript:$('#updateWidget').click()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="!model.error && widgetForm.$submitted && widgetForm.$invalid" class="alert alert-danger"
         role="alert">
        There are errors in the widget form
    </div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form name="widgetForm" id="widgetForm" novalidate
          ng-submit="widgetForm.$valid && model.updateWidget()">
        <div class="form-group">
            <label for="widgetName">Name</label>
            <input type="text" required name="widgetName" id="widgetName" class="form-control" ng-model="model.currentWidget.name" placeholder="Widget Name"/>
            <div ng-show="widgetForm.$submitted && widgetForm.widgetName.$invalid" class="formFieldErrorMsg">
                Widget Name is a required field
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="widgetText">Text</label>
                <input type="text" id="widgetText" class="form-control" ng-model="model.currentWidget.text"
                       placeholder="Widget Text"/>
            </div>
        </div>
        <button id="updateWidget" type="submit" class="btn btn-primary btn-block" style="display: none;">Update Widget</button>
    </form>
    <form action="/api/upload" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <div class="form-group">
                <label for="widgetURL">URL</label>
                <input type="url" id="widgetURL" class="form-control" ng-model="model.currentWidget.url"
                       placeholder="Widget URL"/>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="widgetWidth">Width</label>
                <input type="text" id="widgetWidth" class="form-control" ng-model="model.currentWidget.width"
                       placeholder="Widget Width"/>
            </div>
        </div>
        <div class="form-group">
            <label for="widgetUpload">Upload</label>
            <input name="myFile" id="widgetUpload" type="file" class="form-control"/>
            <input name="width" value="{{model.currentWidget.width}}" style="display: none"/>
            <input name="widgetId" value="{{model.currentWidget._id}}" style="display: none"/>
            <input name="userId" value="{{model.userId}}" style="display: none"/>
            <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
            <input name="pageId" value="{{model.pageId}}" style="display: none"/>
            <button type="submit" class="btn btn-block btn-primary">Upload Image</button>

        </div>
        <a class="btn btn-primary btn-block"
           href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.currentWidgetId}}/flickr">Search</a>
        <a href ng-click="model.deleteWidget()" class="btn btn-block btn-danger">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>