<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <span class="navbar-brand pull-left">Widget Edit</span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href="javascript:$('#updateWidget').click()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="!model.error && widgetForm.$submitted && widgetForm.$invalid" class="alert alert-danger"
         role="alert">
        There are errors in the widget form
    </div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form name="widgetForm" id="widgetForm" novalidate
          ng-submit="widgetForm.$valid && model.updateWidget()">
        <div class="form-group">
            <label for="widgetName">Name</label>
            <input required type="text" name="widgetName" id="widgetName" class="form-control" ng-model="model.currentWidget.name"
                   placeholder="Widget Name"/>
            <div ng-show="widgetForm.$submitted && widgetForm.widgetName.$invalid" class="formFieldErrorMsg">
                Widget Name is a required field
            </div>
        </div>
        <div class="form-group">
            <label for="widgetText">Text</label>
            <input id="widgetText" ng-model="model.currentWidget.text" type="text" class="form-control" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="widgetRows">Rows</label>
            <input id="widgetRows" ng-model="model.currentWidget.rows" type="number" class="form-control">
        </div>
        <div class="form-group">
            <label for="widgetPlaceholder">Placeholder</label>
            <input id="widgetPlaceholder" ng-model="model.currentWidget.placeholder" class="form-control">
        </div>
        <div class="form-group">
            <label for="widgetFormatted">Formatted</label>
            <input id="widgetFormatted" ng-model="model.currentWidget.formatted" type="checkbox"/>
        </div>
        <div class="form-group">
            <button ng-click="model.deleteWidget()" class="btn btn-block btn-danger">Delete</button>
        </div>
        <button id="updateWidget" type="submit" class="btn btn-primary btn-block" style="display: none;">Update Widget</button>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>